/* ================ CSS Reset ================ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================ CSS Variables ================ */
:root {
  /* VARIABLES DE FUENTE */
  --font-family-body: "Poppins", sans-serif;

  /* TIPOGRAFÍA */
  --font-size-heading: 1.5rem;
  --font-size-card-title: 1.25rem;
  --font-size-card-description: 0.8rem;
  --font-size-heading-description: 0.938rem;

  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-weight-light: 200;

  --line-height: 1.5;
  --letter-spacing-large: 0.007rem;
  --letter-spacing-normal: 0.01rem;
  --letter-spacing-regular: 0.06rem;

  /* COLOR */

  /* Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* SPACING */
  --spacing400: 2rem;
  --spacing300: 1.5rem;
  --spacing200: 1rem;
  --spacing150: 0.75rem;
  --spacing100: 0.5rem;
}

body {
  font-family: var(--font-family-body);
  color: var(--Very-Dark-Blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-Light-Gray);
}

.title {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-normal);
}

.title-bold {
  font-weight: var(--font-weight-bold);
}

.title-description {
  text-align: center;
  font-size: var(--font-size-heading-description);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-regular);
  opacity: 0.5;
  margin: var(--spacing200) 0 4.75rem;
}

.card-title {
  font-size: var(--font-size-card-title);
  font-weight: var(--font-weight-bold);
}

.card-description {
  font-size: var(--font-size-card-description);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-regular);
  opacity: 0.5;
}

main {
  min-width: 22rem;
  padding: 5.625rem 2rem 4.875rem;
}

h1,
h2 {
  text-align: center;
}

.container {
  display: grid;
  gap: var(--spacing300);

  & .card {
    position: relative;
    width: 100%;
    min-height: 13.875rem;
    border-radius: var(--spacing100);
    background-color: white;
    padding: calc(var(--spacing300) - 4px) var(--spacing300) var(--spacing300);
    box-shadow: 0px 15px 30px -11px var(--Grayish-Blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Grosor del borde superior */
    border-top-left-radius: 8px; /* Igual al borde de la tarjeta */
    border-top-right-radius: 8px; /* Igual al borde de la tarjeta */
  }
  & .card:nth-child(1)::before {
    background-color: var(--Cyan);
  }
  & .card:nth-child(2)::before {
    background-color: var(--Red);
  }
  & .card:nth-child(3)::before {
    background-color: var(--Orange);
  }
  & .card:nth-child(4)::before {
    background-color: var(--Blue);
  }

  & .card__summary {
    padding-inline-end: 3rem;
  }

  & .card__imgContainer {
    display: flex;
    flex-direction: row-reverse;
  }
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}

/* =========== RESPONSIVE CSS =========== */
@media (60rem <= width) {
    .title {
        font-size: 2.25rem;
    }
    .title-description {
        padding: 0 24rem;
    }

    .container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        '. . . team team . . .'
        '. supervisor supervisor team team calculator calculator .'
        '. supervisor supervisor karma karma calculator calculator .'
        '. . . karma karma . . .';

        & .card:nth-child(1){
            grid-area: supervisor;
        };
        & .card:nth-child(2){
                grid-area: team;
        }
        & .card:nth-child(3){
            grid-area: karma;
        }
        & .card:nth-child(4){
            grid-area: calculator;
        }
    }
}
